fastapi
uvicorn
pydantic
keyring
httpx
openai
Pillow
google-generativeai
pytest
pytest-asyncio
sentence-transformers
tiktoken
pyinstaller
platformdirs
pywin32-ctypes
pydantic-settings
tenacity
pyfakefs
fpdf2
pypdf
ebooklib
openai-whisper
ffmpeg-python
chromadb>=0.5.0
pydub
soundfile
num2words
git+https://github.com/repodiac/german_transliterate