fastapi==0.121.0
uvicorn
pydantic
keyring
httpx
openai
Pillow
google-generativeai
pytest
pytest-asyncio
sentence-transformers
tiktoken
pyinstaller
platformdirs
pywin32-ctypes
pydantic-settings
tenacity
fpdf2
pypdf
ebooklib
openai-whisper
ffmpeg-python
chromadb>=0.5.0
pydub
soundfile
google-auth-oauthlib
google-api-python-client
sqlalchemy
beautifulsoup4
feedparser
geopy
Wikipedia-API
dateparser
thefuzz